<template>
  <div>
    <p v-if="auth.user" class="uk-text-primary">로그인</p>
    <p v-if="!auth.user" class="uk-text-danger">미 로그인</p>
    <form class="uk-form-stacked" @submit.prevent="createUser(user.id,user.pwd)">
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-id">ID</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="form-stacked-id" required
            type="email" v-model="user.id" autocomplete="username">
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-pwd">PASSWORD</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="form-stacked-pwd" required
            type="password" v-model="user.pwd" autocomplete="current-password">
        </div>
      </div>
      <button class="uk-button uk-button-primary">회원가입</button>
    </form>
  </div>
</template>
<script>
import { reactive as auth } from '@/services/firebase'
import createUser from '@/services/auth'

export default {
  setup() {
    const user = { id: '', pwd: '' }
    return { auth, createUser, user }
  }
}
</script>
