<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <script src="/__/firebase/7.9.1/firebase-app.js"></script>
    <script src="/__/firebase/7.9.1/firebase-auth.js"></script>
    <script src="/__/firebase/7.9.1/firebase-firestore.js"></script>
    <script src="/__/firebase/init.js"></script>
    <!--
    <script src="/__/firebase/7.9.1/firebase.js"></script>
    <script src="/__/firebase/7.9.1/firebase-app.js"></script>
    <script src="/__/firebase/7.9.1/firebase-analytics.js"></script>
    <script src="/__/firebase/7.9.1/firebase-auth.js"></script>
    <script src="/__/firebase/7.9.1/firebase-firestore.js"></script>
    <script src="/__/firebase/7.9.1/firebase-functions.js"></script>
    <script src="/__/firebase/7.9.1/firebase-messaging.js"></script>
    <script src="/__/firebase/7.9.1/firebase-storage.js"></script>
    <script src="/__/firebase/7.9.1/firebase-performance.js"></script>
    <script src="/__/firebase/7.9.1/firebase-database.js"></script>
    <script src="/__/firebase/7.9.1/firebase-remote-config.js"></script>
    <script src="/__/firebase/7.9.1/init.js"></script>
    -->
    <!-- built files will be auto injected -->
  </body>
</html>
